<doc id="forum">
    <h3>The place for all inqueries, questions and concerns!</h3>
    <h3>Fill out the form below!</h3>

    <form action="mailto:hamza.siddiqui1@ontariotechu.net"
    method="post" enctype="text/plain" name="Contact form">

    <p>
        <label for="name">  Name:</label>
        <input type="text" required name="name" size="34" placeholder="Please Type your Name Here">
    </p>

    <p>
        <label for="email">Email:</label>
        <input type="text" required name="email" size="34" placeholder="Please Type your Email Address Here">
    </p>

    <p>
        <label for="comments">Comments:</label>
        <br><br>
        <textarea name="comment" cols="30" rows="4" placeholder="Please click here to type" ></textarea>
    </p>

    <p>
        <label for="province">What Province or Territory do you attend Post-Secondary school in?</label>
        <br><br>
        <input list="province"> <datalist id="province">
            <option value="Yukon Territory">Yukon Territory</option>
            <option value="Northwest Territories">Northwest Territories</option>
            <option value="Nunavut">Nunavut</option>
            <option value="British Columbia">British Columbia</option>
            <option value="Alberta">Alberta</option>
            <option value="Saskatchewan">Saskatchewan</option>
            <option value="Manitoba">Manitoba</option>
            <option value="Ontario">Ontario</option>
            <option value="Quebce">Quebec</option>
            <option value="New Brunswick">New Brunswick</option>
            <option value="Nova Scotia">Nova Scotia</option>
            <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
            <option value="Prince Edward Island">Prince Edward Island</option>
        </datalist>
    </p>

    <p>
        <input type="submit" value="Press this Submit Button">
    </p>
    <br>
    <br>
    <br>
    <br>
</doc>
</div>
