<!--The HTML5 doctype declaration is very simple-->
<!DOCTYPE html>
<!--All page content is inside the HTML element-->
<html lang="en">
<!--Head element content is not visible in a browser window-->
<head>
     <!--The UTF-8 character set provides the most support for all symbols and characters-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- The following line links to our style sheet file-->
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="./css/mdforDesktop.css" />
    <link rel="stylesheet" href="./css/mdforsmall.css" />
    <title>H.S Portfolio</title>
</head>

<div id="Hello">
    <div class="Home intro">
        <h1>WELCOME TO MY WEBSITE</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>