<h2>Here you will see some projects that I have worked on in the past!</h2>

    <div id="classwork">
        <img src="Assets/Images/Python1.png" alt="Project Picture 1" width="300" height="400">
        <img src="Assets/Images/Python2.png" alt="Project Picture 2" width="300" height="400">
        <br>
        <h3>This project is a basic code from Python. In this project what I did is using a Main class to call the three different classes and all thier functions.</h3>
        <br>
        <h3>This was an introductory assingment in Object Oriented Programming as this set the base for the assingments that were to come later on in the semester</h3>
        <br>
        <br>
        <br>
        <br>
    </div>